<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shoppingkart">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoppingKart">
        <activity android:name=".MainActivity" />
        <activity android:name=".Welcome_page" />
        <activity android:name=".LoginPage" />
        <activity android:name=".Register" />
        <activity android:name=".Nav"
            android:exported="true"
            android:theme="@style/Theme.ShoppingKart.NoActionBar"/>
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>